<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Numero secreto{% endblock title %}</title>
    </head>

    <body>

        <h1>Adivina el numero secreto</h1>

        <p>
            <a href="/">JUEGO</a> | <a href="/profile">PERFIL</a> | <a href="/users">TODOS LOS USUARIOS</a>
        </p>

        {% block img %}<img src="/static/img/interrogante.png">{% endblock img %}

        {% block content %}
        {% endblock content %}
    </body>
</html>