{% extends "base.html" %}

{% block content %}

    {% if user and user.secret_number %}
        <form action="/result" method="post" >
            <input type="text" name="num_user" placeholder="adivina el numero">
            <br>
            <button type="submit">Enviar numero</button>
        </form>

    {% else %}
        <form action="/login" method="post" >
            <input type="text" name="user-name" placeholder="Introduce tu nombre"><br>
            <input type="email" name="user-email" placeholder="Introduce tu direccion email"><br>
            <input type="password" name="user-password" placeholder="Introduzca su contraseña"><br>

            <button>Enviar</button>
        </form>
    {% endif %}

{% endblock content %}