{% extends "base.html" %}

{% block title %}Edit profile{% endblock title %}

{% block content %}
<h2>Editar perfil</h2>

<form method="post">
    <p>
        <strong>Nombre:</strong>
        <input type="text" value="{{ user.name }}" name="profile-name">
    </p>

    <p>
        <strong>Email:</strong>
        <input type="email" value="{{ user.email }}" name="profile-email">
    </p>

    <h2>Cambiar contraseña</h2>
    <p>En esta seccion puede cambiar su contraseña de usuario si lo ve necesario (es opcional)</p>

    <p>
        <strong>Antigua contraseña:</strong>
        <input type="password" name="old-password">
    </p>

    <p>
        <strong>Nueva contraseña:</strong>
        <input type="password" name="new-password">
    </p>

    <button>Aceptar y guardar cambios</button>
</form>
{% endblock content %}